.display {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: linear-gradient(#7857ff, #2e2be9);
  color: #fff;
  border-radius: 0 0 25px 25px;
  padding-block: 40px;
}

.display-circle {
  background: linear-gradient(#4e21ca, #2421c900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-block: 20px;
}

.display-circle h2 {
  font-size: 54px;
}

.display-circle span {
  font-size: 14px;
}

.display-result {
  text-align: center;
  width: clamp(150px, 70%, 390px);
}

.display > h3,
.display-circle span,
.display-result p {
  opacity: 0.7;
}

.summary {
  padding: 25px;
}

.summary h4 {
  font-size: 20px;
}

.pills {
  /* background: rgb(243, 243, 171); */
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 8px;
  margin-block: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.pills > * {
  margin-left: 10px;
}

.pills p {
  width: 65%;
}

.pills .result {
  color: black;
  font-weight: 700;
}

.result span:nth-child(2) {
  opacity: 0.5;
}
.reaction {
  background: #fff6f5;
  color: #ff5757;
}
.memory {
  background: #fffbf2;
  color: #ffb01f;
}
.verbal {
  background: #f2fbfa;
  color: #00bd91;
}
.visual {
  background: #f3f3fd;
  color: #1125d4;
}

.primary-button {
  background: #303b5a;
  color: #ffffff;
  width: 100%;
  height: 45px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.8s;
}

.primary-button:hover {
  background: linear-gradient(to left, #4e21ca, #2421c9);
}

@media screen and (min-width: 768px) {
  .App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .display {
    width: clamp(150px, 25vw, 350px);
    border-radius: 25px;
    z-index: 1;
  }
  .summary {
    width: clamp(400px, 35vw, 700px);
    border-radius: 0 10px 10px 0;
    box-shadow: 3px 6px 10px #08082527;
    margin-left: -30px;
    padding-left: 60px;
  }

  .display,
  .summary {
    height: 55vh;
  }
}
